.navbar-btn {
  float:left;
}

.state-box {
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 10px 20px 10px 20px !important;
  margin: 0px 0px 20px 0px;
}

.state-box h1 {
  padding-bottom: 20px;
}

.form-control {
  margin: 10px 0px 10px 0px;
}
/*GRID MENU */

.dropdown-menu.grid {
  padding: 10px;
}

.dropdown-menu.grid ul {
  float: left;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(black, 0.1);
}

.dropdown-menu.grid ul:first-child {
  border-left: none;
}

.dropdown-menu.grid ul li {
    float: left;
    width: 50px;
    padding-left: 0;
}

.dropdown-menu.grid ul a {
  padding: 5px 10px;
}

.dropdown-menu.grid>ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu.grid>ul>li>a:focus, .dropdown-menu>ul>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-toggle ul {
  float: none;
}

@media (max-width: 767px) {
  .navbar-btn {
    margin: 10px 15px;
    float:none;
  }

  .dropdown {
    clear: both;
  }
}

/*scss would have done this better */

#results {
  margin-top: 60px;
}

#login-alert {
  margin-top: 20px;
}
